@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}
body{
    width: 100;
    min-height: 100vh;
    display: flex;
    background: url(imgs/wallpaperflare.com_wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.my-button {
    margin: 100px;
    padding: 0.8em 2em;
    border: none;
    outline: none;
    color: #e9e9e9;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: 0.5s ease;
}
.my-button:hover{
    transform: scale(1.1);
}
.my-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.my-button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #f09c00, #ff5e00, #ffc400, #c5c5c5,
        #cfd300, #8cdeff, #a55d00
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.my-button:hover::before {
    opacity: 1;
}
.my-button:active:after {
    background: transparent;
}
.my-button:active {
    color: #555555;
    font-weight: bold;
}
@media (max-width: 350px){
    .my-button{
        width: 45%;
        font-size: 14px;
    }
}